body{
    font-family: 'sans-serif';
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.seller-auth {
    width: 300px; 
    margin: 0 auto; 
}
.signup {
    margin-bottom: 20px; 
}
.signup h2 {
    font-size: 24px; 
    margin: 0; 
}
.common-form {
    margin-bottom: 20px; 
}
.form-input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}


.form-button {
    width: 100%; 
    padding: 10px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
}


.form-button:hover {
    background-color: #45a049; }
.seller-auth {
    width: 300px; 
    margin: 0 auto; 
    margin-top: 20vh; 
}
